  build/                                                                                                                                                                           
  *.jpg                                                                                                                                                                            
  *.png                                                                                                                                                                            
  *.dat                                                                                                                                                                            
  .DS_Store                                                                                                                                                                        
  EOF       


